/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* REGOLE GENERALI */
.container{
    max-width: 900px;
    margin: 0 auto;
}

/* HEADER */
/* SEZIONE LOGO E LINKS */
header{
    padding-top: 15px;
}

.container-flex{
    display: flex;
}

.header{
    flex-grow: 1;
    padding: 10px;
}

ul{
    list-style: none;
    justify-content: center;
}

li{
    margin-left: 5px;
    margin-right: 5px;
}

.login{
    text-align: end;
}

/* SEZIONE TITOLO */
.bottom-part{
    padding: 30px 0;
    margin-top: 15px;
}

.bottom-part.container-flex{
    justify-content: center;
}

#title{
    width: 700px;
}

/* SEZIONE CENTRALE */
/* SEZIONI ROW */
.white-background{
    padding: 30px 0;
}
.gray-background{
    background-color: #d3d3d3;
    padding: 30px 0;
}

.blue-square{
    width: 60%;
}

.pink-square{
    width: 40%;
}

/* SEZIONE COLUMN */
#green-square{
    width: 100%;
}

/* DEBUG */
.debug header{
    background-color: #add8e6;
}

.debug header > .container{
    background-color: #daa520;
}

.debug .header{
    border: 2px dashed black;
}

.debug .bottom-part{
    background-color: #00008b;
}

.debug #title{
    background-color: #ee82ee;
    border: 2px dashed black;
    height: 300px;
}

.debug .blue-square{
    background-color: #1e90ff;
    border: 2px dashed black;
    height: 400px;
}

.debug .pink-square{
    background-color: #ffc0cb;
    border: 2px dashed black;
    height: 400px;
}

.debug #green-square{
    background-color: #228b22;
    border: 2px dashed black;
    height: 800px;
}